html, body{
    height:100%
}
/* Para definir o height do body em percentual, é necessário definir height ao html (elemento pai). */

body {
    background-color: aqua;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

}

/* Usando o body como elemento de flex model principal.*/

.main-title {
    color: #385555;
}

.list-wrapper{
    background-color:white;
    width:90%;
    max-width:500px;
    max-height:400px;
    overflow-y:auto;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0, 0.2)

}

/* Estabelecendo um contâiner para as <li>*/

.list{
    list-style:none;
    padding:0;
    margin:0;
}

.list-item{
    display:flex;
    border-bottom:1px solid #eee;
    padding:16px;

}

.divlist-item-imagem img{
    width:80px;
    border-radius: 50%;
}

/*Circunferência perfeita para imagem, usando o border-radius na metade de seu enchimento.*/

.list-item__content{
    padding: 0 20px;
    flex-grow:1;
}

/*Flex-grow para não causar quebra de linha e colocar todo espaço que sobra em sua largura.*/

.list-item__name{
    font-size:24px;
    color: #385555;
    margin:0px;
}

.list-item__e-mail{
    margin: 5px 0 0;
    color: #aaa;

}

.list-item:hover{
    background-color: #e8e8e8;
}

/*Aplicando a sub-classe :hover para revelar os ícones ao passar do cursor*/

.list-item__actions{
    display:flex;
    gap: 16px;
    align-items:center;
    opacity:0;
} 

/*Opacity 0 para deixar os ícones opacos, e quando o usuário passar o cursor no list-item, os elementos ficaram transparentes.*/

.list-item:hover .list-item__actions{
    opacity:0.3;
}

